html {
    box-sizing: border-box;
    height: 100%;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Fira Code", monospace;
}

header {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 32px 24px;
    flex-shrink: 0;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

main {
    display: flex;
    column-gap: 16px;
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}
